<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949321676986-7mo2lceqndtcmo1qov0oqqqr1gg72rhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949321676986-7mo2lceqndtcmo1qov0oqqqr1gg72rhe</string>
	<key>API_KEY</key>
	<string>AIzaSyD5N3lICDj2uDAHoPa1sORsrFuAO1kad8s</string>
	<key>GCM_SENDER_ID</key>
	<string>949321676986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vintedMiage</string>
	<key>PROJECT_ID</key>
	<string>vinted-d08cf</string>
	<key>STORAGE_BUCKET</key>
	<string>vinted-d08cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949321676986:ios:25cbc6ca6a5e3a4b7baa83</string>
</dict>
</plist>